*{
    margin: 0;
    font-family:'poppins';
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* *****************header styles************************* */
header{
    background-image:url('../images/banner/banner2.png');
    display: flex;
    padding: 16% 0 ;
    background-size: cover;
   
}
.header-section{
    align:right;
    float:right;
    text-align: right; 
}
.header-content{
    padding: 0 5% 0 50%;

}
.header-image img{
    width: 70%;
}

/* ******************section more info that use almost section ************ */
.section-title{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 76px;
    color: #151414;

}
.section-description{
    font-size: 16px;
    color: #444343;
    line-height: 30px;
}
.btn-primary{
    color: #fff;
    font-size: 25px;
    padding: 10px 30px;
    background-color:  #F15B22;;
    border: none;
    border-radius: 5px;
   margin-top: 20px;
}

.btn-secondary{
    background: #fff;
    font-size: 20px;
    padding: 10px 30px;
    color:  #F15B22;;
    border: none;
    border-radius: 5px;
   margin-top: 20px;
}
/* ******************main section styles********************************** */


/* ****************About section styles********************** */

.about-course{
    max-width: 80%;
    margin: 5rem auto 0;
    display: flex;
    align-items: center;
    gap: 5%;
}
.about-image{
    max-width: 50%;
}

.about-image img{
    width: 100%;
}

.about-content{
   
    max-width: 50%;
}
li>i{
    color: green;
}
.about-title{
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 65px;
}

/* *******************course plan section styles*************** */
.section{
    max-width: 80%;
    margin:5rem auto 0;
}
.section-header{
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
}
.courses{
    display: flex;
    max-width: 90%;
    margin: 2rem auto;
    justify-content: center;
    gap:7%;
    text-align: center;
}
.course-title{
    font-weight: 600;
    font-size: 1rem;
    color: #151414;
}

.course-img{
    width: 100px;
}

/* *************Gradient use in watch section***********************/
.gradient{
    max-width: 70%;
    margin: 5rem auto 2rem;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url('../images/watch.png');
    /* background: url('../images/gradient1.png'),url('../images/watch.png'); */
    border-radius: 8px;
    background-repeat: no-repeat;

    background-size: cover;
    
}
.watch-content{
    max-width: 45%;
    padding: 60px 64px;
}
.watch-content h5{
    font-size: 1.5rem;
}

/* ***************************************Our Team**************************************** */
.team-secton{
    display: flex;
    max-width: 90%;
    margin: 5% auto;
}

.team-content{
    display: flex;
    align-items: center;
}
.team-content>img{
    max-width: 40%;
    border-radius: 5px;
}

.team-title{
    padding: 10px;
    line-height: 45px;
}

/* *****************************footer********************* */
footer{
    max-width: 100%;
    background-color: #131417;;
    color: #fff;
    padding: 0;
    
}

.footer-content{
    display: flex;
    margin: auto auto;
    padding: 10% 13%;
    gap:4%;
  
}
.footer-dialog{
    max-width: 30%;

}
.contact{
    max-width: 30%;

}

.newsletter{
    max-width: 40%;

}
footer h3{
    color: #F8F8F8;
    font-size: 1.3rem;
    line-height: 45px;
}
footer p{
    font-size: 15px;
    line-height: 30px;
}
.social-link{
    display: flex;
    gap:10%;
    margin-top: 3%;
}
.social-link img{
    width: 15%
}
.subscribe-input{
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 8px 16px;

}
.btn-subscribe{
   color: #F8F8F8; 
   border: none;
   border-radius: 5px;
   background:#F15B22;
   padding: 8px 16px;
   margin-left: -6px;
}